.tweet-box{
  border: 1px solid black;
  margin: 2%;
  padding: 2%;
}

.tweet-box img {
  max-width: 100px;
}

.user-name{
  font-weight: bold;
  padding-left: 2%;
}

.selected {
  background-color: yellow;
}

h1 {
  text-align: center;
}

span {
  font-weight: bold;
}
